<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-10-06-jquery-basic.md</key>
			<dict>
				<key>lastModification</key>
				<real>545205162.74010098</real>
				<key>version</key>
				<dict>
					<key>cb8ee0ac13a09735476ab2b5422212166939ca4d8ec44a956c587fd5d67107d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-11-27-standard.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>545205162.74010897</real>
				<key>version</key>
				<dict>
					<key>cb8ee0ac13a09735476ab2b5422212166939ca4d8ec44a956c587fd5d67107d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-16-webapp.md</key>
			<dict>
				<key>lastModification</key>
				<real>545205162.74010897</real>
				<key>version</key>
				<dict>
					<key>cb8ee0ac13a09735476ab2b5422212166939ca4d8ec44a956c587fd5d67107d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-25-youName.md</key>
			<dict>
				<key>lastModification</key>
				<real>545205162.74010801</real>
				<key>version</key>
				<dict>
					<key>cb8ee0ac13a09735476ab2b5422212166939ca4d8ec44a956c587fd5d67107d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-02-summary2016.md</key>
			<dict>
				<key>lastModification</key>
				<real>545205162.74010801</real>
				<key>version</key>
				<dict>
					<key>cb8ee0ac13a09735476ab2b5422212166939ca4d8ec44a956c587fd5d67107d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-08-imgBox.md</key>
			<dict>
				<key>lastModification</key>
				<real>545205162.74010706</real>
				<key>version</key>
				<dict>
					<key>cb8ee0ac13a09735476ab2b5422212166939ca4d8ec44a956c587fd5d67107d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-02-11-app.md</key>
			<dict>
				<key>lastModification</key>
				<real>545205162.74010706</real>
				<key>version</key>
				<dict>
					<key>cb8ee0ac13a09735476ab2b5422212166939ca4d8ec44a956c587fd5d67107d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-06-jiami.md</key>
			<dict>
				<key>lastModification</key>
				<real>545205162.74010599</real>
				<key>version</key>
				<dict>
					<key>cb8ee0ac13a09735476ab2b5422212166939ca4d8ec44a956c587fd5d67107d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-22-version.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>545205162.74010503</real>
				<key>version</key>
				<dict>
					<key>cb8ee0ac13a09735476ab2b5422212166939ca4d8ec44a956c587fd5d67107d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-05-04-vue-cli.md</key>
			<dict>
				<key>lastModification</key>
				<real>545205162.74010503</real>
				<key>version</key>
				<dict>
					<key>cb8ee0ac13a09735476ab2b5422212166939ca4d8ec44a956c587fd5d67107d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-05-15-mac-jekyll.md</key>
			<dict>
				<key>lastModification</key>
				<real>545205162.74010396</real>
				<key>version</key>
				<dict>
					<key>cb8ee0ac13a09735476ab2b5422212166939ca4d8ec44a956c587fd5d67107d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-05-17-windows-jekyll.md</key>
			<dict>
				<key>lastModification</key>
				<real>545205162.74010396</real>
				<key>version</key>
				<dict>
					<key>cb8ee0ac13a09735476ab2b5422212166939ca4d8ec44a956c587fd5d67107d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-05-21-hongkong.md</key>
			<dict>
				<key>lastModification</key>
				<real>545205162.74010301</real>
				<key>version</key>
				<dict>
					<key>cb8ee0ac13a09735476ab2b5422212166939ca4d8ec44a956c587fd5d67107d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-08-07-talk-vue-angular.md</key>
			<dict>
				<key>lastModification</key>
				<real>545205162.74010205</real>
				<key>version</key>
				<dict>
					<key>cb8ee0ac13a09735476ab2b5422212166939ca4d8ec44a956c587fd5d67107d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-01-03-summary2017.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>545205162.74011004</real>
				<key>version</key>
				<dict>
					<key>cb8ee0ac13a09735476ab2b5422212166939ca4d8ec44a956c587fd5d67107d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>无标题.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>545205172.55483902</real>
				<key>lastModification</key>
				<real>545205172.55483902</real>
				<key>version</key>
				<dict>
					<key>cb8ee0ac13a09735476ab2b5422212166939ca4d8ec44a956c587fd5d67107d4</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-10-06-jquery-basic.md</string>
		</array>
		<array>
			<string>2017-08-07-talk-vue-angular.md</string>
		</array>
		<array>
			<string>无标题.md</string>
		</array>
		<array>
			<string>2017-05-21-hongkong.md</string>
		</array>
		<array>
			<string>2017-05-17-windows-jekyll.md</string>
		</array>
		<array>
			<string>2017-05-15-mac-jekyll.md</string>
		</array>
		<array>
			<string>2017-05-04-vue-cli.md</string>
		</array>
		<array>
			<string>2017-04-22-version.markdown</string>
		</array>
		<array>
			<string>2017-03-06-jiami.md</string>
		</array>
		<array>
			<string>2017-02-11-app.md</string>
		</array>
		<array>
			<string>2017-01-08-imgBox.md</string>
		</array>
		<array>
			<string>2017-01-02-summary2016.md</string>
		</array>
		<array>
			<string>2016-12-25-youName.md</string>
		</array>
		<array>
			<string>2016-12-16-webapp.md</string>
		</array>
		<array>
			<string>2016-11-27-standard.markdown</string>
		</array>
		<array>
			<string>2018-01-03-summary2017.markdown</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>cb8ee0ac13a09735476ab2b5422212166939ca4d8ec44a956c587fd5d67107d4</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
